/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/composer.lock export-ignore
/docker-compose.yml export-ignore
/docker-compose.override.yml.dist export-ignore
/indocker export-ignore
/infection.json export-ignore
/CHANGELOG.md export-ignore
/phpcs.xml export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/test export-ignore
