name: Continuous integration

on:
  pull_request: null
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        php-version: ['7.4']
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer
          coverage: none
      - run: composer install --no-interaction --prefer-dist
      - run: composer cs

  static-analysis:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        php-version: ['7.4']
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer
          coverage: none
      - run: composer install --no-interaction --prefer-dist
      - run: composer stan

  unit-tests:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        php-version: ['7.4', '8.0']
        deps: ['lowest', 'highest']
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer
          coverage: none
      - run: composer install --no-interaction --prefer-dist
      - if: ${{ matrix.deps == 'lowest' }}
        run: composer update --no-interaction --prefer-lowest --prefer-stable
      - run: composer test:ci
      - uses: actions/upload-artifact@v2
        with:
          name: build-${{ matrix.php-version }}-${{ matrix.deps }}
          path: build

  mutation-tests:
    needs:
      - unit-tests
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        php-version: ['7.4', '8.0']
        deps: [ 'lowest', 'highest' ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer
          coverage: none
      - run: composer install --no-interaction --prefer-dist
      - if: ${{ matrix.deps == 'lowest' }}
        run: composer update --no-interaction --prefer-lowest --prefer-stable
      - uses: actions/download-artifact@v2
        with:
          name: build-${{ matrix.php-version }}-${{ matrix.deps }}
          path: build
      - run: composer infect:ci

  upload-coverage:
    needs:
      - unit-tests
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        php-version: ['7.4']
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          coverage: pcov
      - uses: actions/download-artifact@v2
        with:
          name: build-${{ matrix.php-version }}-highest
          path: build
      - name: Publish coverage
        uses: codecov/codecov-action@v1
        with:
          file: ./build/clover.xml

  delete-artifacts:
    needs:
      - mutation-tests
      - upload-coverage
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        php-version: ['7.4', '8.0']
        deps: [ 'lowest', 'highest' ]
    steps:
      - uses: geekyeggo/delete-artifact@v1
        with:
          name: build-${{ matrix.php-version }}-${{ matrix.deps }}
